---
layout: default
---

<div class="content">
    <div class="wrapper">
        <h1 class="category__headline">{{ page.title }}</h1>
    </div>
</div>

{% for post in site.categories[page.category] %}
<a href="{{ post.id | relative_url }}">
    <div class="card">
        <div class="card__container card__container--closed">
            <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1920 1200" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <clipPath id="{{ post.id }}-clip-path">
                        <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                    </clipPath>
                </defs>
                <image clip-path="url(#{{ post.id }}-clip-path)" width="1920" height="1200"
                    xlink:href="{{ site.baseurl }}/{{ post.image }}">
                </image>
            </svg>
            <div class="card__content">
                <i class="card__btn-close fa fa-times"></i>
                <div class="card__caption">
                    <h2 class="card__title">{{ post.title }}</h2>
                    <p class="card__subtitle">{{ post.subtitle }}</p>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}